* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* ONLOAD */

.img {
    text-align: center;
    margin-top: 12%;
}

#loader-principal {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
    z-index: 10000;
}

#loader-container {
    border: 7px solid #ccc;
    border-top-color: black;
    border-top-style: groove;
    height: 60px;
    width: 60px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* NAV PRINCIPAL */

.nav {
    width: 100%;
    position: fixed;
    height: 70px;
    background-color: rgba(14, 162, 231, 0.7);
    box-shadow: 2px 2px 2px rgb(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    transition: all 0.2s ease-out;
}

.nav a {
    text-decoration: none;
    color: #000;
}

.nav a>img {
    width: 70px;
    margin-top: 15px;
    margin-right: 50px;
}

.nav ul {
    display: flex;
    line-height: 70px;
    list-style: none;
}

.nav li {
    margin: 0 20px;
    text-transform: uppercase;
    font-size: 14px;
}

.nav a:hover {
    color: rgba(243, 237, 237, 0.836);
    transition: all 0.2s ease-out;
}

.btn-menu {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 25px;
    color: #000;
    cursor: pointer;
    display: none;
}

.nav ul.show {
    top: 65px;
}

/* DROPDOWN NAV */

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    line-height: 30px;
    border-radius: 1%;
    transition: all 0.2s ease-out;
}

.nav li ul li {
    font-size: 10px;
    height: 30px;
}

.nav li:hover > ul {
    display: block;
    background-color: rgba(14, 162, 231, 0.7);
}

/* NAV SCROLL */

.nav.active {
    background-color: rgba(76, 187, 221, 0.8);
    box-shadow: 2px 2px 2px rgb(0, 0, 0, .2);
    height: 50px;
    transition: all 0.2s ease-out;
}

.nav.active a>img {
    width: 60px;
    margin-top: 10px;
}

.nav.active ul {
    display: flex;
    line-height: 50px;
    list-style: none;
}

/* DROPDOWN NAV ACTIVE */

.nav.active li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    line-height: 25px;
    border-radius: 1%;
    transition: all 0.2s ease-out;
}

.nav.active li ul li {
    font-size: 10px;
    height: 25px;
}

.nav.active li:hover > ul {
    display: block;
    background-color: rgba(76, 187, 221, 0.8);
}

.nav.nav.active li {
    margin: 0 20px;
    text-transform: uppercase;
    font-size: 12px;
}

/* NAVBAR RESPONSIVE */

@media screen and (max-width: 952px) {
    
    /* NAVBAR RESPONSIVE */

    .nav {
        background-color: rgba(76, 187, 221, 0.8);
        box-shadow: 2px 2px 2px rgb(0, 0, 0, .2);
        height: 50px;
        transition: all 0.2s ease-out;
    }
    
    .nav a>img {
        width: 60px;
        margin-top: 10px;
    }
    
    .nav ul {
        display: flex;
        line-height: 50px;
        list-style: none;
    }

    .nav li {
        margin: 0 20px;
        text-transform: uppercase;
        font-size: 12px;
    }

    /* DROPDOWN RESPONSIVE */

    .nav li ul {
        display: none;
        position: absolute;
        min-width: 140px;
        line-height: 25px;
        border-radius: 1%;
        transition: all 0.2s ease-out;
    }
    
    .nav li ul li {
        font-size: 10px;
        height: 25px;
    }
    
    .nav li:hover > ul {
        display: block;
        background-color: rgba(76, 187, 221, 0.8);
    }
}

@media screen and (max-width: 850px) {

    /* ONLOAD */

    .img {
        text-align: center;
        margin-top: 30%;
    }

    /* NAVBAR */

    .nav {
        justify-content: space-between;
        transition: all 0.2s ease-out;
    }

    .btn-menu {
        display: flex;
    }

    .nav ul {
        position: fixed;
        width: 100vw;
        height: calc(100% - 50px);
        background: rgba(76, 187, 221, 0.8);
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }

    .nav ul li {
        margin: 30px 0 0 0;
        line-height: 50px;
    }

    .nav ul li:hover {
        background: none;
    }

    .nav ul li a {
        font-size: 20px;
        color: #000;
        font-weight: bold;
    }

    .nav ul li a:hover {
        color: #fff;
    }

    .logo {
        font-size: 20px;
        padding-left: 35px;
    }
}

@media screen and (max-width: 850px) and (orientation:landscape) {
    .nav ul li {
        margin: 5px 0 0 0;
    }

    .nav ul {
        overflow: scroll;
        height: calc(100% - 50px);
    }
}