* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* ONLOAD */

.img {
    text-align: center;
    margin-top: 12%;
}

#loader-principal {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
    z-index: 10000;
}

#loader-container {
    border: 7px solid #ccc;
    border-top-color: black;
    border-top-style: groove;
    height: 60px;
    width: 60px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* NAV PRINCIPAL */

.nav {
    width: 100%;
    position: fixed;
    height: 70px;
    background-color: rgba(14, 162, 231, 0.7);
    box-shadow: 2px 2px 2px rgb(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    transition: all 0.2s ease-out;
    padding-bottom: 50px;
    z-index: 1;
}

.nav a {
    text-decoration: none;
    color: #000;
}

.nav a>img {
    width: 70px;
    margin-top: 15px;
    margin-right: 50px;
}

.nav ul {
    display: flex;
    line-height: 70px;
    list-style: none;
}

.nav li {
    margin: 0 20px;
    text-transform: uppercase;
    font-size: 14px;
}

.nav a:hover {
    color: rgba(243, 237, 237, 0.836);
    transition: all 0.2s ease-out;
}

.btn-menu {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 25px;
    color: #000;
    cursor: pointer;
    display: none;
}

.nav ul.show {
    top: 50px;
}

/* DROPDOWN NAV */

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    line-height: 30px;
    border-radius: 1%;
    transition: all 0.2s ease-out;
}

.nav li ul li {
    font-size: 10px;
    height: 30px;
}

.nav li:hover > ul {
    display: block;
    background-color: rgba(14, 162, 231, 0.7);
}

/* NAV SCROLL */

.nav.active {
    background-color: rgba(76, 187, 221, 1);
    box-shadow: 2px 2px 2px rgb(0, 0, 0, .2);
    height: 50px;
    transition: all 0.2s ease-out;
}

.nav.active a>img {
    width: 60px;
    margin-top: 10px;
}

.nav.active ul {
    display: flex;
    line-height: 50px;
    list-style: none;
}

/* DROPDOWN NAV ACTIVE */

.nav.active li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    line-height: 25px;
    border-radius: 1%;
    transition: all 0.2s ease-out;
}

.nav.active li:hover > ul {
    display: block;
    background-color: rgba(76, 187, 221, 1);
}

.nav.nav.active ul {
    margin: 0 20px;
    text-transform: uppercase;
    font-size: 12px;
}

.nav.active li ul li {
    font-size: 8px;
    height: 25px;
}

/* NAVBAR RESPONSIVE */

@media screen and (max-width: 952px) {

    .nav {
        background-color: rgba(76, 187, 221, 1);
        box-shadow: 2px 2px 2px rgb(0, 0, 0, .2);
        height: 50px;
        transition: all 0.2s ease-out;
    }
    
    .nav a>img {
        width: 60px;
        margin-top: 10px;
    }
    
    .nav ul {
        display: flex;
        line-height: 50px;
        list-style: none;
    }

    .nav li {
        margin: 0 20px;
        text-transform: uppercase;
        font-size: 12px;
    }

    .nav li ul {
        display: none;
        position: absolute;
        min-width: 140px;
        line-height: 25px;
        border-radius: 1%;
        transition: all 0.2s ease-out;
    }
    
    .nav li ul li {
        font-size: 10px;
        height: 25px;
    }
    
    .nav li:hover > ul {
        display: block;
        background-color: rgba(76, 187, 221, 0.8);
    }
}

@media screen and (max-width: 850px) {

    .nav {
        justify-content: space-between;
        transition: all 0.2s ease-out;
    }

    .btn-menu {
        display: flex;
    }

    .nav ul {
        position: fixed;
        width: 100vw;
        height: 100%;
        background: rgba(76, 187, 221, 0.8);
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }

    .nav ul li {
        margin: 30px 0 0 0;
        line-height: 50px;
    }

    .nav ul li:hover {
        background: none;
    }

    .nav ul li a {
        font-size: 20px;
        color: #000;
        font-weight: bold;
    }

    .nav ul li a:hover {
        color: #fff;
    }

    .logo {
        font-size: 20px;
        padding-left: 35px;
    }

    .nav li:hover > ul {
        display: none;
        background-color: rgba(14, 162, 231, 0.7);
    }
}

@media screen and (max-width: 850px) and (orientation:landscape) {
   
    .nav ul li {
        margin: 5px 0 0 0;
    }

    .nav ul {
        overflow: scroll;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

/* CARROUSEL */

.slide-contenedor{
    max-width:100%;
    max-height: 100vh;
    width: 100%;
    height:auto;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.miSlider{
    display: none;
    transition: 2s;
    max-height: 100vh;
    margin-top: 70px;
}

.miSlider img{
    width: 100%;
    max-height: 100vh;
    height: inherit;
    object-fit: cover;
    vertical-align: top;
    transition: 2s;
}

.direcciones{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.direcciones a{
    color: #fff;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

.direcciones a:hover{
    background: rgba(0, 0, 0, .5);
    transition: .5s;
}

.barras{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom:15px;
}

.barra{
    cursor: pointer;
    height:2px;
    width: 25px;
    margin: 0 2px;
    background: #dcdde1;
    display: inline-block;
    margin-left: 3px;
}

.active{
    background-color: #3c9ae7;
}

.fade{
    animation-name: fade;
    animation-duration: .5s;    
}

@keyframes fade {
    from {opacity: .8;}
    to{opacity:1;}
}

/* CARROUSEL RESPONSIVE */

@media screen and (max-width: 952px) {
    .miSlider{
        display: none;
        transition: 2s;
        max-height: 100vh;
        margin-top: 50px;
    }
}

/* FOOTER */

.footer{
	max-width: 100%;
	margin:auto;
	font-family: 'Poppins', sans-serif;
	max-height: 100%;
    transition: all 0.2s ease-out;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #353738;
    padding: 40px 0;
    z-index: -1;
}
.footer-col{
   width: 25%;
   padding: 0 30px;
}
.footer-col h4, .link{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
	text-decoration: none;
    z-index: 0;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #154fb9;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
    z-index: -1;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a, p{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbadad;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover, .link:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(75, 71, 71, 0.322);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

iframe {
	max-width: 100%;
	height: auto;
}

/* FOOTER RESPONSIVE */

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}